auto_mix_prep==0.2.0
fastapi==0.136.1
langchain_community==0.4.1
langchain_huggingface==1.2.2
langchain_text_splitters==1.1.2
pydantic==2.13.3
uvicorn==0.46.0
sentence-transformers==5.4.1
chromadb==1.5.8